<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>oAuth</title>
</head>

<body>
<a href="/">Home</a><br>
<a href="/oauth">oAuth</a><br>
<a href="/messages">Messages</a><br>

<form name="frm1" action="/oauth" enctype="application/x-www-form-urlencoded" method="post">
	<table>
		<tr>
			<td>PAS/PWS Address:</td>
			<td><input type="Text" name="hostname" value="192.168.33.62"></td>
		</tr>
		<tr>
			<td>Phone Number:</td>
			<td><input type="Text" name="username" value="16503598711"></td>
		</tr>
		<tr>
			<td>Extension:</td>
			<td><input type="Text" name="extension" value="101"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="Text" name="password" value="A123123123"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="Submit" name="btn" value="Submit"></td>
		</tr>
	</table>
</form>


</body>
</html>